PR Title: {{.PRTitle}}
PR Number: {{.PRNumber}}
{{if .Commits}}Recent commit messages:
{{range $i, $c := .Commits}}{{if lt $i 5}}- {{$c}}
{{end}}{{end}}{{end}}
File: {{.Chunk.FilePath}}
Language: {{.Chunk.Language}}
{{if .Chunk.Function}}Function: {{.Chunk.Function}}
{{end}}Line range: {{.Chunk.StartLine}}-{{.Chunk.EndLine}}
{{if .Chunk.DeletedLines}}
Deleted lines:
{{range .Chunk.DeletedLines}}- {{.}}
{{end}}{{end}}
{{if .Chunk.AddedLines}}
Added lines:
{{range .Chunk.AddedLines}}+ {{.}}
{{end}}{{end}}
Raw diff:
{{.Chunk.RawDiff}}